/*Navbar*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(1214px, 100%);
    margin: 0 auto;
    padding: 21px 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 10px;
}

.logo{
    display: flex;
    align-items: center;
    transition: filter 0.25s ease, transform 0.25s ease;
}

.logo:hover {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.218))
            drop-shadow(0 0 12px rgba(255, 255, 255, 0.204));
    transform: scale(1.04);
    cursor: pointer;
  }

.navbar .logo_words {
    margin: 0;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navbar .logo_icon {
    width: 20px;
    height: auto;
    color: #62BDA0;
}

.logo_words.start {
    color: #FFF;
}

.logo_words.end {
    color: #62BDA0;
}

.navbar .navigation {
    flex-shrink: 0;
    color: #FFF;
    font-family: var(--font-raleway);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.navigation a {
    text-decoration: none;
}
  
.navigation a:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #62BDA0;
    text-underline-offset: 4px;
}

.login_button{
    display: flex;
    width: 150px;
    height: 40px;
    padding: 11px 17px 11px 19px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px solid #62BDA0;
    background: #1D3043;
    font-size: 13px;
    transition: filter 0.25s ease, transform 0.25s ease;
}

.login_button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

/*Footer*/

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(1214px, 100%);
    margin: 0 auto;
    padding: 28px 46px;
    box-sizing: border-box;
}

.footer .logo_words {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer .logo_icon {
    width: 15px;
    height: auto;
    color: #62BDA0;
}

.footer .navigation{
    display: flex;
    flex-direction: row;
    gap: 48px;
    color: #FFF;
    font-family: var(--font-raleway);
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer p{
    color: #FFF;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}